
body {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  height: 100vh;
  margin: 0;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  background-image: asset-url('GNGBacknoQuote.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}


.header-home {
  text-align: center;
  padding: 20px;
  color: #FF9843;
}

.content-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FF9843;
  h3 {
    color: #f8dcd0;
    font-size: 2.6em;
    text-align: center;
    margin-top: 100px;
  }
  p {
    color: #f8dcd0;
    font-size: 1.3em;
    text-align: center;
    margin-top: 20px;
  }
}



.button-container-home {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}


.button {
  background-color: #FF9843; //button color
  border: none;
  color: #1F1300;  //button text color
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);

  &:hover {
    background-color: #e27b14;

  }
}

.button-blue {
  background-color: #2A4579;
  border: none;
  color: #f8dcd0;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);

  &:hover {
    background-color: #1d4081;

  }
}
