<!DOCTYPE html>
  <body>
    <h1>Your search found #number of matches</h1>
    <div class="container d-flex align-items-center">
      <%# <% @users.each do |user| %> %>
      <div class="usercard">
          <div class="userpicture-name">
            <img src="#" alt="image of username">
            <h2>
                <%# <%= user.username %> %>
                USERNAME
            </h2>
          </div>

          <div class="userprofile">
            <div class="userprofilecard">
              <h3>About Me</h3>
              <%# <p><%=@user.about_me%>
            </div>
            <div class="userprofilecard">
              <h3>Expertise</h3>
              <%# <p><%=@user.user_expertises%>
            </div>
            <div class="userprofilecard">
              <h3>Reviews</h3>
              <p>⭐️⭐️⭐️⭐️⭐️</p>
            </div>
          </div>
      </div>
      <div class="usercard">

      </div>
      <div class="usercard">

      </div>
      <div class="usercard">

      </div>
    <%# <% end %> %>
    </div>

  </body>
</html>
