<div class="footer-container">
    <p>&copy; 2024 GIVERS & GETTERS. All rights reserved.</p>
      <%='Terms & Conditions'%>
      <%='Privacy Policy'%>
    <div>
      <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
      <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i> Linkedin</a>
      <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i> Facebook</a>
      <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i> Twitter</a>
    </div>
</div>
