<div class="footer-container">
  <div class="policies">
    <ul>
      <li>&copy; 2024 GIVERS & GETTERS. All rights reserved.</li>
      <li><% @output_buffer.append=(link_to('Terms & Conditions', terms_path).to_s); %></li>
      <li><% @output_buffer.append=(link_to('Privacy Policy', privacy_path).to_s); %></li>
    </ul>
  </div>
  <div class="social-icons">
    <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
  </div>
</div>
