<div class="footer-container">
  <div class="policies">
    <ul>
      <p>&copy; 2024 GIVERS & GETTERS. All rights reserved.</p>
      <li><%= 'Terms & Conditions' %></li>
      <li><%= 'Privacy Policy' %></li>
    </ul>
  </div>
  <div class="social-icons">
    <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
  </div>
</div>
