<div class="footer-container">
  <footer>
    <p>&copy; 2024 GIVERS & GETTERS. All rights reserved.</p>
    <ul>
      <li><%= 'Cookie Policy' %></li>
      <li><%= 'Terms & Conditions' %></li>
      <li><%= 'Privacy Policy' %></li>
    </ul>
    <div>
      <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
    </div>
  </footer>
</div>
