<div class="centered-header">
  <h1>All Requests</h1>

  <% @requests.each do |request| %>
    <div class="request-form">
      <h3><%= link_to request.title, request_path(request) %></h3>

      <% if request.user.present? %>
        <p>Getter: <%= request.user.username %></p>
      <% else %>
        <p>Getter: N/A</p>
      <% end %>

      <p>Description: <%= request.description %></p>
    </div>
  <% end %>

  <div class="new-request-buttons">
    <%= link_to 'Back to Home Page', root_path, class: 'secondary-button' %>
  </div>
</div>
