<h1>Dashboard Page</h1>

<h3>Submitted Requests/Agreements</h3>
<div>
  <p>Pending List</p>
  <ul>
    <li></li>
  </ul>
  <p>Accepted List</p>
  <p>Rejected List</p>
</div>

<h3>Received Requests/Agreements</h3>
<div>
  <p></p>
</div>
