<!DOCTYPE html>
<html>
<head>
    <title>Givers&Getters</title>

</head>

<body>
<div class="logo">
    <div class="header-home">
        <h1>Welcome Givers&Getters</h1>
    </div>
    <div class="content-home">
        <button class="button">Find a Giver</button>
    </div>
    <div class="round-card">
    <h2>Are you a Giver or a Getter?</h2>
    <p>find help or share your skills and knoledge in order to provide help</p>
    </div>

    </div>
</body>
</html>
