<!DOCTYPE html>
<html>
<head>

<title>Givers&Getters</title>

</head>

  <body>

    <div class="logo">
     <div class="header-home">
         <h1>Givers & Getters</h1>
      </div>


      <div class="content-home">
      <%# <p>Welcome to Givers&Getters,</p> %>
        <h3> A platform for Generous People</h3>
        <p> Where those who are in need of help can find people willing to help.</p>
      </div>
      <div class="button-container-home">

       <%= link_to "Get Help", "/requests/new", class: "button-blue" %>
        <%= link_to "Give Help", "/requests", class: "button" %>
    </div>
    <%# <div class="round-card">
    <h2>Are you a Giver or a Getter?</h2>
    <p>find help or share your skills and knowledge in order to provide help</p>
    </div> %>

    </div>
  </body>
</html>
