<!DOCTYPE html>
<html>
<head>
    <title>Givers&Getters</title>

</head>

<body>
<div class="logo">
    <div class="header-home">
        <h1>Welcome Givers&Getters</h1>
    </div>
    <div class="content-home">
        <button class="button">Find a Giver</button>
    </div>
    <div class="round-card">
    </div>

    </div>
</body>
</html>
