<!DOCTYPE html>
<html>
<head>
    <title>Givers&Getters</title>

</head>
<body>
    <div class="header-home">
        <h1>Welcome Givers&Getters</h1>
    </div>
    <div class="content-home">
        <p>Some Slogan blablabla much text is going to be here...</p>
        <button class="button">Find a Giver</button>
    </div>
</body>
</html>
