<div class="legal-container">

  <h1>Privacy Policy for
    <br>Givers & Getters</h1>
  <p>Welcome to GIVERS & GETTERS, where we take privacy as seriously as we take our coffee, and trust us, that’s pretty serious.</p>
  <ol>
    <li>Information We Collect: We collect only the coolest data, like your username and email. No worries, we won't ask for your favorite ice cream flavor (unless you want to share).</li>
    <li>How We Use Your Information: Your info is like a secret handshake—we only use it to make your experience awesome. We won't share it with anyone, not even our moms.</li>
    <li>Cookies: Yes, we use cookies. No, not the chocolate chip kind. These are tiny digital helpers that make the site work smoothly. Sadly, they won't bake you cookies.</li>
    <li>Third-Party Links: We might have links to other websites. They're like our internet neighbors. We can't control what they do, but we hope they're nice.</li>
    <li>Security: Your data is guarded like a dragon guards its treasure. We use top-notch security, so you can sleep at night knowing your info is safe.</li>
  </ol>

  <p>By using GIVERS & GETTERS, you agree to be the awesome person you already are and follow these guidelines. Thanks for being part of the community! 🚀</p>

<%= link_to "Back to Home", root_path, class: "secondary-button" %>

  <style>.legal-container {
      max-width: 600px;
      margin: 0 auto;
      text-align: justify;
      font-family: 'Arial', sans-serif;
    }

</div>
