<div class="legal-container">

  <h1>Terms and Conditions for
    <br>Givers & Getters</h1>
  <ol>
    <li>Cookie Disclaimer: We're not talking about the delicious kind you can dunk in milk. Our cookies are of the digital variety. Unfortunately, they won't satisfy your sweet tooth, but they help us provide you with a better website experience. You're free to try to eat them, but we won't be responsible for any broken teeth!</li>
    <li>Telepathic Support: We would love to offer telepathic customer support, but alas, our psychic abilities are still in beta testing. For now, please use the traditional channels - email, phone, or carrier pigeon if that's your preferred method.</li>
    <li>User Dance-Off: If you manage to read our entire terms and conditions in one sitting, you're invited to the annual User Dance-Off. Don your most outrageous dance attire, and the winner gets a virtual high-five. Bonus points for incorporating breakdance moves.</li>
    <li>Anti-Ghost Policy: We're all for inclusivity, but our servers have an aversion to ghostly apparitions. If you're currently in ghost form, please revert to your corporeal self before accessing our website. We recommend a hearty meal of ectoplasm to regain your human shape.</li>
    <li>Time-Travel Restriction: Due to unforeseen issues with our flux capacitor, time-traveling on our website is strictly prohibited. We apologize for any inconvenience to time-travelers, but we need to avoid paradoxes and disruptions in the space-time continuum</li>
  </ol>

<%= link_to "Back to Home", root_path, class: "secondary-button" %>

  <style>.legal-container {
      max-width: 600px;
      margin: 0 auto;
      text-align: justify;
      font-family: 'Arial', sans-serif;
    }

</div>
