body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.footer-container {
  background-color: #2A4579;
  padding: 15px;
  width: 100%;
  color: #fff;
  text-align: center;
  // font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.policies {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 40px;
}

.policies ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.policies li {
  display: inline;
  margin-right: 20px;
}

.policies a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin-right: 20px;
}

.policies a:hover {
  text-decoration: underline;
}

.social-icons {
  flex: 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding-right: 40px;
}

.social-icons a {
  margin: 5px;
  color: #fff;
}

.social-icons i {
  font-size: 24px;
}
