body {
  margin-bottom: 60px;
}

.footer-container {
  background-color: #2A4579;
  padding: 15px;
  width: 100%;
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0;
  z-index: 1000;
}
