
.navbar {
  background-color: #2A4579;
  padding: 15px;
  justify-content: space-between;
}

.nav-button {
  background-color: #FF9843;
  color: #1F1300;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

// body {
//   margin: 0;
//   font-family: 'Arial', sans-serif;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   height: 100vh;
//   background-color: #E9F1F7;
// }



.navbar .navbar-collapse {
  flex-grow: 0;
}




.navbar-brand img {
  width:  60px;
  height: 60px;
  border-radius: 100%;
}



.nav-button:hover {
  filter: brightness(1.2);
}
