.request-form {
  width: 50%;
  margin: 0 auto 20px;;
  border-radius: 5px;
  padding: 15px;
  margin-top: 20px;
  background-color: white;
  color: #1F1300;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.2);

  label {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
  }

  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
    color: #1F1300;
  }
}

.request-buttons{
  text-align: center;
  padding: 20px;
}

.primary-button {
  background-color: #FF9843;
  color: #1F1300;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.primary-button:hover {
  filter: brightness(1.2);
}

.secondary-button {
  background-color: #2A4579;
  color: #E9F1F7;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;

}

.secondary-button:hover {
  filter: brightness(1.2);
}

.centered-header {
  text-align: center;
  color: #1F1300;
}

.request-details{
  width: 50%;
  margin: 0 auto 20px;
}

.requests-search {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  input[type="search"] {
    width: 550px;
    height: 40px;
  }
}
