.container {
  // margin-top: 20px;
  // margin-bottom: 20px;
  // border: 2px solid #000;
}

.btn-grey {
  background-color: grey !important;
}



.profile-pic-show img{
  width: 100%;
  height: auto;
  border-radius: 50%;
  // margin: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
  text-align: center;
}

.profile-pic-show {
  text-align: center;
}

.profile-pic img{
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin: 20px;
  margin-bottom: 300px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
}

.dark-blue {
  color:#2A4579;
}

.light-blue {
  color:#FF9843;
}

.usercard {
  // width: 300px;
  display: flex;
  // height: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  // border: 2px solid black;
  background-color: white;
  border-radius: 5px;
}

.flex-container {
  display: flex;
  justify-content: between;
  align-items: center;
}

.usercardleft{
  width: 20%;
}

.usercardright{
  width: 80%;
}

.flex-item-left, .flex-item-right {
  margin: 20px;
  flex-grow: 1;
}

h3 {
  color: #2A4579;
}

.select-user {
  margin-top: 100px;
}

.select-request-form {
  width: 50%;
}
